1) Find the model number, speed and hard drive capacity for all the PCs with prices below $500.Result set: model, speed, hd.

In [ ]:
select model, speed, hd
from PC
where price < 500

2) List all printer makers. Result set: maker.

In [ ]:
select distinct maker
from Product
where type = 'Printer'

3) Find the model number, RAM and screen size of the laptops with prices over $1000.

In [ ]:
select model, ram, screen
from Laptop
where price > 1000

4) Find all records from the Printer table containing data about color printers.

In [ ]:
select *
from Printer
where color = 'y'

5) Find the model number, speed and hard drive capacity of PCs cheaper than $600 having a 12x or a 24x CD drive.

In [ ]:
select model, speed, hd
from PC
where price < 600
and cd in ('12x','24x')

In [ ]:
6)

50) Find the battles in which Kongo-class ships from the Ships table were engaged.

41) For the PC in the PC table with the maximum code value, obtain all its characteristics (except for the code) and display them in two columns:
- name of the characteristic (title of the corresponding column in the PC table);
- its respective value.

In [ ]:
select 'cd' as chr, cd as value 
from PC 
where code = (select max(code) from PC)

union

select  'model' as chr, cast(model as varchar) as value 
from PC 
where code = (select max(code) from PC)

union

select  'speed' as chr, cast(speed as varchar) as value 
from PC 
where code = (select max(code) from PC)

union

select  'ram' as chr, cast(ram as varchar) as value 
from PC 
where code = (select max(code) from PC)

union

select  'hd' as chr, cast(hd as varchar)  as value 
from PC 
where code = (select max(code) from PC)

union

select  'price' as chr, cast(price as varchar) as value 
from PC 
where code = (select max(code) from PC)

51) Find the names of the ships with the largest number of guns among all ships having the same displacement (including ships in the Outcomes table).

In [3]:
select s.name
from Ships as s, Classes as c
where s.class = c.class
and c.numGuns = (select max(numGuns)
from Classes
where Classes.displacement = c.displacement)

union

select o.ship
from Outcomes as o, Classes as c
where o.ship = c.class
and c.numGuns = (select max(numGuns)
from Classes
where Classes.displacement = c.displacement)